<section>
    <div class="w-full">
        <div class="px-5">
            <button mat-raised-button color="primary" [routerLink]="'/favorite-address/new'">
                <mat-icon>add</mat-icon>
                Add new Address
            </button>
        </div>

        <div class="flex flex-wrap gap-y-5 w-full my-6">
            <div *ngFor="let address of publicAddresses" class="w-full lg:w-1/3 px-5">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{address.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{address.address}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button color="primary" [routerLink]="'/favorite-address/'+ address.id">
                            <mat-icon aria-hidden="false" class="text-xl">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="openDeleteAddressDialog(address)">
                            <mat-icon aria-hidden="false" class="text-xl">delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</section>